body { background-color: #A8D8E6;
        color: black; 
}
h1 { background-color:rgb(38, 101, 173); 
    text-align:center;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.rodape {
    background-color:rgb(38, 101, 173); 
    text-align:center;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: solid blue 2px;
}
footer {
    margin-top: 100px;
}